<li>
  {{#link-to 'question' question.id}}{{question.author}}'s question is "{{question.asked}}"{{/link-to}}
  {{update-question question=question update="update"}}
  {{answer.reply}}{{answer.user}}
</li>
