{{#if updateQuestionForm}}
  <h4>{{question.asked}}  {{question.author}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="asked">Question</label>
        {{input value=asked id="asked" placeholder=question.asked}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update the question</button>
{{/if}}
